# Dependencies
/node_modules
/.pnp
.pnp.js
# Next.js
/.next/
/out/
# Production
/build
# Misc
.DS_Store
# Local Environment Variables
.env*.local
# TypeScript
next-env.d.ts

# Local environment variables - should not be committed
.env.local
